.idea
torcs-client/test/.cache/
torcs-client/__pycache__/
torcs-client/drivelogs/
torcs-client/output/
torcs-client/pytocl/__pycache__/
torcs-client/*_err.txt
torcs-client/*_out.txt
torcs-server/
train_data/
model_results/
debug/
neat/*
!neat/src/
neatsociety/__pycache__
neatsociety/nn/__pycache__
model.pickle
